@import url("https://fonts.googleapis.com/css?family=Inconsolata");
p {
  width: 500px;
  margin: 15px auto 0;
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
}
p div {
  margin-bottom: 5px;
}

p div strong {
  margin-right: 10px;
  color: red;
}

p div span {
  font-family: "Inconsolata", monospace;
}
